#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: rgb(235, 246, 255);
}

body::-webkit-scrollbar {
  display: none;
}

input[type=number]::-webkit-inner-spin-button {
  display: none;
}

button {
  user-select: none;
}