#callsMainDiv {
    left: 0;
    top: 80px;
    position: absolute;
    width: 100%;
    padding-bottom: 30px;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
}

#callsMainDiv::-webkit-scrollbar {
    display: none;
}

#nextMatchesDiv {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#callsErrorDiv {
    white-space: nowrap;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

#callsErrorText {
    font-family: Inria Sans;
    font-weight: bold;
    font-size: xx-large;
    color: black;
    text-align: center;
}