#callDetailContentDiv {
    position: absolute;
    top: 80px;
    left: 0;
}

#selectedMatchDiv {
    margin-left: 50px;
}

#playersToCallDiv {
    margin-left: 100px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    gap: 50px;
}