#downloadExcelModalMainDiv {
    top: 80px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 80px);
    position: fixed;
    z-index: 1000000;
}

#downloadExcelMainDiv {
    width: 450px;
    height: 200px;
    background-color: white;
    border: 2px solid red;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#downloadExcel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#downloadExcelErrorText {
    color: red;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: larger;
}

#downloadExcelText {
    color: rgb(253, 0, 0);
    font-family: Inria Sans;
    font-size: medium;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.downloadExcelButton {
    background-color: red;
    border: none;
    border-radius: 12px;
    height: 30px;
    font-family: Inria Sans;
    font-size: large;
    transition: 0.5s;
    margin-top: 7%;
}

.downloadExcelButton:hover {
    background-color: rgb(165, 0, 0);
    transition: 0.5s;
    cursor: pointer;
}