#debatesMainDiv {
    position: absolute;
    left: 0;
    top: 80px;
    height: calc(100% - 80px);
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#debateText {
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: larger;
}

#debatesDiv {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 60%;
    gap: 5%;
}

.debateDiv {
    background-color: white;
    border: 2px solid rgb(7, 78, 200);
    border-radius: 10px;
    width: 100%;
}

.debateDiv:hover {
    cursor: pointer;
}

#createDebateButtonDiv {
    border: 2px solid black;
    width: 40%;
}

.createDebateButton {
    background-color: rgb(7, 78, 200);
    border: none;
    border-radius: 12px;
    width: 30%;
    height: 40px;
    font-family: Inria Sans;
    font-size: larger;
    transition: 0.5s;
}