#goalsModalMainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
}

#goalsMainDiv {
    width: 30%;
    height: 30%;
    background-color: white;
    border: 2px solid rgb(7, 78, 200);
    border-radius: 15px;
}

#goalsAndAssists {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#goal {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

#goalPlayerNumbers {
    width: 100%;
    height: fit-content;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(30px, 30px));
    border: 2px solid black;
}

#assist {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

#assistPlayerNumbers {
    width: 100%;
    height: fit-content;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(30px, 30px));
    border: 2px solid black;
}

.goalNumber {
    color: black;
    border: 2px solid rgb(7, 78, 200);
}

.goalNumber:hover {
    cursor: pointer;
}

.assistNumber {
    color: black;
    border: 2px solid rgb(7, 78, 200);
}

.assistNumber:hover {
    cursor: pointer;
}