#goalEventDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid rgb(7, 78, 200);
    border-bottom: 2px solid rgb(7, 78, 200);
    width: 100%;
    height: 80px;
}

#periodAndTimeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
}

#periodText {
    color: white;
    background-color: rgb(7, 78, 200);
    border-radius: 1000px;
    font-family: Inria Sans;
    font-weight: bold;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

#timeText {
    margin: 0;
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
}

#goalTeamImageDiv {
    width: 20%;
}

#goalTeamImageDivMyTeam {
    width: 30%;
}

#goalTeamImage {
    width: 100%;
}

#goalTeamImageMyTeam {
    width: 100%;
    margin-left: 30%;
}

#goalText {
    color: black;
    font-family: Inria Sans;
    font-size: xx-large;
    font-weight: bold;
}

#teamGoalDiv {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#teamNameText {
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: x-large;
    margin-left: 5%;
    width: 100%;
}

#eventInfoDivMyTeam {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 30%;
    gap: 5%;
}

#eventInfoDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 20%;
    gap: 5%;
}

#scorerAndAssisterInfoDiv {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#scorerNumberDiv {
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    background-color: rgb(7, 78, 200);
    width: 13%;
    border-radius: 10px;
}

#scorerNumberText {
    color: white;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: xx-large;
    margin: 0;
    padding: 0;
}

#scorerAndAssisterDiv {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 2%;
}



#scorerText,
#assisterText {
    margin: 0;
    color: black;
    font-family: Inria Sans;
}

#scorerText {
    font-size: large;
    font-weight: bold;
}

#assisterText {
    font-weight: bold;
    color: rgb(7, 78, 200);
}

@media(max-width: 500px) and (orientation: portrait) {
    #periodAndTimeDiv {
        width: 15%;
    }

    #timeDiv {
        font-size: smaller;
        white-space: nowrap;
    }

    .goalEventIcon {
        width: 30px;
        height: 30px;
    }

    #goalText {
        font-size: x-large;
    }

    #goalTeamImageDivMyTeam {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #eventInfoDivMyTeam {
        width: 25%;
    }

    #scorerNumberText {
        font-size: x-large;
    }

    #scorerNumberDiv {
        height: 45px;
    }

    #scorerAndAssisterInfoDiv {
        width: 59%;
    }

    #scorerText {
        font-size: medium;
    }

    #assisterText {
        white-space: nowrap;
        font-size: small;
    }
}