#homePageContentDiv {
    position: absolute;
    left: 0;
    top: 80px;
    display: flex;
    width: 100%;
    height: 90%;
}

#greetingDiv {
    height: 70%;
    width: 100%;
}

#greetingTextDiv {
    width: 30%;
    margin-left: 1%;
    padding: 0;
}

#greetingText {
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: xx-large;
}

#playerImage {
    border: 2px solid rgb(7, 78, 200);
    border-radius: 20px;
}

#playerImageDiv {
    width: 30%;
    margin-left: 10%;
}

#nextMatchDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-left: 5%;
    margin-top: 5%;
    gap: 3%;
}

#leftDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
}


#startMatchButton {
    font-size: x-large;
}