#homePageContentDiv {
    position: absolute;
    left: 0;
    top: 80px;
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
}

#greetingDiv {
    height: 70%;
    width: 100%;
}

#greetingTextDiv {
    width: 30%;
    margin-left: 5%;
    padding: 0;
}

#greetingText {
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: xx-large;
    white-space: nowrap;
}

#startMatchButton {
    background-color: rgb(7, 78, 200);
    border: none;
    border-radius: 12px;
    width: 100%;
    height: 40px;
    font-family: Inria Sans;
    font-size: larger;
    transition: 0.5s;
    margin-top: 30px;
}

#startMatchButton:hover {
    background-color: rgb(5, 54, 138);
    transition: 0.5s;
    cursor: pointer;
}

#playerImage {
    border: 2px solid rgb(7, 78, 200);
    border-radius: 20px;
}

#playerImageDiv {
    width: 30%;
    margin-left: 5%;
}

#nextMatchDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 110%;
    height: fit-content;
    margin-left: 10%;
    gap: 10px;
}

#nextMatchText {
    color: black;
    font-family: Inria Sans;
    text-align: left;
    font-weight: bold;
    font-size: large;
}

#nextMatchTextDiv {
    display: flex;
    justify-content: left;
}

#leftDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#rightDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#recomendationsDiv {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 40%;
    margin-top: 150px;
}

#recomendationsText {
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: large;
    text-align: left;
}

#recomendations {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid rgb(7, 78, 200);
    border-radius: 10px;
}

#recomendations:hover {
    cursor: pointer;
}

#seeRecomendationsText {
    color: black;
    font-family: Inria Sans;
}

#startMatchButton {
    font-size: x-large;
}

#lastPlayedMatchVersusText {
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: xx-large;
}

#lastPlayedMatchDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#lastPlayedMatchLocalTeamImage {
    width: 20%;
}

#lastPlayedMatchVisitingTeamImage {
    width: 20%;
}