#homePageContentDiv {
    position: absolute;
    left: 0;
    top: 80px;
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
}

#greetingDiv {
    height: 70%;
    width: 100%;
}

#greetingTextDiv {
    width: 30%;
    margin-left: 5%;
    padding: 0;
}

#greetingText {
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: xx-large;
    white-space: nowrap;
}

#playerImage {
    border: 2px solid rgb(7, 78, 200);
    border-radius: 20px;
}

#playerImageDiv {
    width: 30%;
    margin-left: 5%;
}

#nextMatchDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    height: fit-content;
    margin-left: 10%;
}

#nextMatchText {
    color: black;
    font-family: Inria Sans;
    text-align: left;
    font-weight: bold;
    font-size: large;
}

#nextMatchTextDiv {
    display: flex;
    justify-content: left;
}

#leftDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
}


#startMatchButton {
    font-size: x-large;
}