#loginMainDiv {
    width: 20em;
    min-width: 300px;
    min-height: 350px;
    height: 25em;
    background-color: white;
    border-radius: 12%;
    box-shadow: 1px 1px 15px 1px rgb(7, 78, 200);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20%;
}

#welcomeTextDiv {
    margin: 0;
    position: absolute;
    top: 2em;
}

#welcomeText {
    margin-top: 8%;
    color: rgb(7, 78, 200);
    font-family: Inria Sans;
    font-size: 1.75em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#loginInputsDiv {
    margin: 0;
    position: relative;
    top: -0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25%;
    width: 100%;
    gap: 10%;
}

.loginInput {
    background-color: rgb(233, 233, 233);
    color: black;
    border: none;
    border-radius: 12px;
    min-height: 40%;
    width: 60%;
    font-family: Inria Sans;
    margin-right: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border: 2px solid rgb(7, 78, 200);
}

#usernameInput {
    font-size: large;
}

#passwordInput {
    font-size: large;
    height: 100%;
}

#loginPasswordInputDiv {
    width: 100%;
    height: 39%;
}

.loginButton {
    background-color: rgb(7, 78, 200);
    border: none;
    border-radius: 12px;
    width: 60%;
    height: 40px;
    font-family: Inria Sans;
    font-size: larger;
    transition: 0.5s;
}

button:hover {
    background-color: rgb(5, 54, 138);
    transition: 0.5s;
    cursor: pointer;
}

#notHaveAccountDiv {
    position: absolute;
    bottom: 1.5em;
}

#notHaveAccount {
    margin: 0 auto;
    color: rgb(0, 76, 255);
    font-family: Inria Sans;
    text-decoration: underline;
}

#notHaveAccount:hover {
    color: rgb(0, 162, 255);
    cursor: pointer;
}

#buttonsDiv {
    height: 25%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20%;
    width: 100%;
}

#googleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    border: 1px solid rgb(7, 78, 200);
    color: rgb(7, 78, 200);
}

#googleLogo {
    width: 18%;
    left: 0;
}

#loginGoogleText {
    font-size: medium;
    margin: 0;
    flex-grow: 1;
    text-align: center;
    white-space: nowrap;
}

#loginErrorText {
    border: 1px solid red;
    background-color: rgba(253, 126, 126, 0.377);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 0 auto;
    width: fit-content;
    padding-left: 5%;
    padding-right: 5%;
    height: 7%;
    color: red;
    font-family: Inria Sans;
    font-size: medium;
    margin-bottom: 7%;
    margin-top: 7%;
}

.eyeIcon {
    position: absolute;
    margin-top: 12px;
    right: 70px;
    color: rgb(7, 78, 200);
}

.eyeIcon:hover {
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1024px) {
    #loginMainDiv {
        width: 27em;
        height: 33em;
    }

    #welcomeText {
        font-size: 2.5em;
    }

    .loginInput {
        font-size: xx-large;
    }

    .loginButton {
        font-size: x-large;
        height: 35%;
    }

    #loginGoogleText {
        font-size: 0.9em;
    }

    #notHaveAccountDiv {
        width: 100%;
    }

    #notHaveAccount {
        font-size: larger;
    }

    .eyeIcon {
        margin-top: 19px;
        right: 93px;
    }
}

@media (max-height: 600px) {
    #loginMainDiv {
        width: 21em;
        height: 27em;
    }

    #welcomeText {
        font-size: 2em;
    }

    .loginInput {
        font-size: xx-large;
    }

    .loginButton {
        font-size: larger;
        height: 40%;
    }

    #loginGoogleText {
        font-size: 0.9em;
    }

    #notHaveAccountDiv {
        width: 100%;
    }

    #notHaveAccount {
        font-size: large;
    }
}