#mainDiv {
    background-color: white;
    width: 20em;
    min-width: 200px;
    min-height: 250px;
    height: 25em;
    border-radius: 3.25em;
    box-shadow: 1px 1px 15px 1px rgb(7, 78, 200);
}

#mainDiv {
    margin-top: 20%;
}

#welcomeTextDiv {
    padding-top: 0.5vw;
}

#welcomeText {
    margin-top: 8%;
    color: rgb(7, 78, 200);
    font-family: Inria Sans;
    font-size: 1.75em;
    font-weight: bold;
}

#inputsDiv {
    margin: 0 auto;
    margin-top: 1.25vw;
    width: 70%;
    min-width: 100px;
}

input {
    background-color: rgb(233, 233, 233);
    color: black;
    border: none;
    border-radius: 12px;
    width: 100%;
    min-width: 100px;
    max-width: 220px;
    height: 40px;
    font-family: Inria Sans;
    font-size: medium;
    margin-right: 10px;
}

#usernameInput {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#loginButtonDiv {
    margin-top: 2vw;
}

button {
    background-color: rgb(7, 78, 200);
    border: none;
    border-radius: 12px;
    width: 12vw;
    min-width: 100px;
    height: 40px;
    font-family: Inria Sans;
    font-size: larger;
}

button:hover {
    background-color: rgb(5, 54, 138);
    transition: 0.5s;
    cursor: pointer;
}

#notHaveAccountDiv {
    margin-top: 2em;
}

#notHaveAccount {
    margin: 0 auto;
    width: 250px;
    color: rgb(0, 76, 255);
    font-family: Inria Sans;
    text-decoration: underline;
}

#notHaveAccount:hover {
    color: rgb(0, 162, 255);
    cursor: pointer;
}

#googleLoginButtonDiv {
    margin-top: 1.1em;
    display: flex;
    justify-content: center;
}

#googleButton {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    border: 1px solid rgb(7, 78, 200);
    color: rgb(7, 78, 200);
}

#googleLogo {
    width: 18%;
    left: 0;
}

#loginGoogleText {
    font-size: large;
}