#matchCompressedDiv {
    width: 300px;
    height: 100px;
    background-color: white;
    border: 2px solid rgb(7, 78, 200);
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#infoContainer {
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.matchText {
    font-family: Inria Sans;
    font-weight: bold;
    font-size: large;
    color: black;
    margin: 0;
}

#localTeamDiv {
    width: 40%;
    height: 100px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#compressedCentralDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 30%;
}

#visitingTeamDiv {
    width: 40%;
    height: 100px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.compressedTeamLogoDiv {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

img {
    margin: 0 auto;
    width: 100%;
}

.matchGoals {
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: xx-large;
    margin: 0;
    padding: 0;
}

#compressedMatchDate {
    text-align: center;
    width: 100%;
    color: black;
    font-family: Inria Sans;
    margin: 0 auto;
}

#matchTime {
    color: black;
    font-family: Inria Sans;
    margin: 0 auto;
}

#visitingTeamGoalsDiv {
    padding: 0;
    margin: 0;
    border-radius: 10px;
    height: 40px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#localTeamGoalsDiv {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    height: 40px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}