#matchesMainDiv {
    position: absolute;
    left: 0;
    top: 125px;
    width: 100%;
    height: calc(100% - 125px);
    overflow-y: auto;
}

#matchesDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 50px;
    overflow: hidden;
}