#incidencesMainDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

#incidencesLocalTeamDiv {
    width: 100%;
    height: 100%;
}

#incidencesVisitingTeamDiv {
    width: 100%;
    height: 100%;
}

.incidencesTeamImageDiv {
    width: 30%;
    height: 30%;
    margin-top: 5%;
}

#saveIncidencesButtonDiv {
    position: absolute;
    bottom: 5%;
    width: 10%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 25%;
}

#saveIncidencesButton {
    width: 100%;
    height: 40px;
    background-color: rgb(7, 78, 200);
    border: none;
    border-radius: 12px;
    font-family: Inria Sans;
    font-size: larger;
    transition: 0.5s;
}

#saveIncidencesButton:hover {
    background-color: rgb(5, 54, 138);
    transition: 0.5s;
    cursor: pointer;
}

#returnButton {
    width: 100%;
    height: 40px;
    background-color: rgb(7, 78, 200);
    border: none;
    border-radius: 12px;
    font-family: Inria Sans;
    font-size: larger;
    transition: 0.5s;
}

#returnButton:hover {
    background-color: rgb(5, 54, 138);
    transition: 0.5s;
    cursor: pointer;
}

.incidencesTeamDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
}

.incidencesButtonsDiv {
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.incidencesButton {
    color: black;
    font-family: Inria Sans;
    font-size: x-large;
    background-color: white;
    border: 2px solid rgb(7, 78, 200);
    border-radius: 10000px;
    width: 54%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    transition: 0.5s;
}

.incidencesButton:hover {
    background-color: rgb(127, 127, 127);
}