#messagesMainDiv {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#textAreaDiv {
    height: 100%;
    display: flex;
    align-items: flex-start;
    background-color: white;
    border: 1px solid rgb(7, 78, 200);
    position: relative;
}

#messagesArea {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    height: 75%;
    max-height: 75%;
    overflow-y: auto;
}

#messagesArea::-webkit-scrollbar {
    display: none;
}

textarea {
    background-color: white;
    border: none;
    width: 93.5%;
    color: black;
    font-family: Inria Sans;
    outline: none;
    height: 100%;
}

textarea::-webkit-scrollbar {
    display: none;
}

.sendIcon {
    position: absolute;
    bottom: 10px;
    right: 15px;
    background-color: rgb(7, 78, 200);
    border-radius: 100000px;
    transition: 0.5s;
}

.sendIcon:hover {
    cursor: pointer;
    background-color: rgb(5, 54, 138);
    transition: 0.5s;
}

#publishMessageArea {
    margin-top: auto;
    width: 50%;
    height: 20%;
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    #messagesArea {
        width: 75%;
    }

    #publishMessageArea {
        width: 75%;
    }
}

@media (max-width: 767px) {
    #messagesMainDiv {
        top: 80px;
        height: calc(100% - 80px);
        justify-content: flex-start;
    }

    #messagesArea {
        width: 92%;
        height: 70%;
        max-height: 70%;
        gap: 20px;
        margin-top: 12px;
        margin-bottom: 8px;
    }

    #publishMessageArea {
        width: 92%;
        height: 20%;
        margin-bottom: 8px;
    }

    textarea {
        width: 90%;
        height: 95%;
        font-size: 14px;
    }

}