#ordersMainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerOrdersTab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 60vh;
}

.inputsDiv {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    justify-content: center;
}

.deadlineDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: min-content;
    justify-content: flex-end;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.deadlineText {
    color: black;
    text-align: right;
    height: min-content;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}