#ordersMainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerOrdersTab {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-height: 60vh;
}

p {
    color: black;
}