#penaltyEventDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid rgb(7, 78, 200);
    border-bottom: 2px solid rgb(7, 78, 200);
    width: 100%;
    height: 80px;
}

#penaltyEventPeriodAndTimeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
}

#penaltyEventPeriodText {
    color: white;
    background-color: rgb(7, 78, 200);
    border-radius: 1000px;
    font-family: Inria Sans;
    font-weight: bold;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

#penaltyEventTimeText {
    margin: 0;
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
}

#penaltyEventInfoDivMyTeam {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 25%;
    gap: 5%;
}

#penaltyEventInfoDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 20%;
    gap: 5%;
}

.penaltyEventIcon {
    flex-shrink: 0;
}

#penaltyText {
    color: black;
    font-family: Inria Sans;
    font-size: xx-large;
    font-weight: bold;
}

#penaltyAndPlayerInfoDivMyTeam {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 55%;
    height: 100%;
}

#penaltyTeamImageDivMyTeam {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

#penaltyTeamImageMyTeam {
    width: 100%;
}

#penaltyPlayerNumberAndNameInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin-left: 3%;
}

#penaltyPlayerNumberAndNameDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#penaltyPlayerText {
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: large;
    margin: 0;
}

#penaltyTypeAndTimeMyTeamDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 6px;
    margin-top: 3px;
}

#penaltyTimeDivMyTeam {
    background-color: rgb(7, 78, 200);
    border-radius: 8px;
    padding: 3px 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

#penaltyTimeTextMyTeam {
    color: white;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: x-large;
    margin: 0;
}

#penaltyTypeTextMyTeam {
    color: rgb(7, 78, 200);
    font-family: Inria Sans;
    font-weight: bold;
    font-size: medium;
    margin: 0;
}

#penaltyTypeTextMyTeamSmall {
    color: rgb(7, 78, 200);
    font-family: Inria Sans;
    font-weight: bold;
    font-size: small;
    margin: 0;
}

#teamPenaltyDiv {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#penaltyTeamImageDiv {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

#penaltyTeamImage {
    width: 100%;
}

#penaltyInfoDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin-left: 3%;
}

#penaltyTeamNameDiv {
    width: 100%;
}

#penaltyTeamNameText {
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: large;
    margin: 0;
    padding: 0;
}

#penaltyTypeAndTimeDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 6px;
    margin-top: 3px;
}

#penaltyTimeDiv {
    background-color: rgb(7, 78, 200);
    border-radius: 8px;
    padding: 3px 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

#penaltyTimeText {
    color: white;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: x-large;
    margin: 0;
}

#penaltyTypeText {
    color: rgb(7, 78, 200);
    font-family: Inria Sans;
    font-weight: bold;
    font-size: medium;
    margin: 0;
}

#penaltyTypeTextSmall {
    color: rgb(7, 78, 200);
    font-family: Inria Sans;
    font-weight: bold;
    font-size: small;
    margin: 0;
}


@media(max-width: 400px) and (orientation: portrait) {
    #penaltyEventPeriodAndTimeDiv {
        width: 20%;
    }

    #penaltyEventTimeText {
        font-size: x-small;
        white-space: nowrap;
    }

    #penaltyEventPeriodText {
        font-size: 11px;
    }

    .penaltyEventIcon {
        display: none;
    }

    #penaltyText {
        font-size: x-large;
        padding: 0;
        margin: 0;
    }

    #penaltyEventInfoDivMyTeam,
    #penaltyEventInfoDiv {
        width: 23%;
    }

    #penaltyAndPlayerInfoDivMyTeam,
    #teamPenaltyDiv {
        width: 59%;
    }

    #teamPenaltyDiv {
        margin-left: 45px;
    }

    #penaltyTeamImageDivMyTeam {
        margin-right: 20px;
        width: 50%;
    }

    #penaltyTeamImageDiv {
        width: 65%;
    }

    #penaltyTimeTextMyTeam,
    #penaltyTimeText {
        font-size: large;
    }

    #penaltyPlayerText {
        font-size: medium;
    }

    #penaltyTeamNameText {
        font-size: medium;
    }

    #penaltyTypeTextMyTeam,
    #penaltyTypeTextMyTeamSmall,
    #penaltyTypeText,
    #penaltyTypeTextSmall {
        white-space: nowrap;
        font-size: small;
    }

    #penaltyTeamNameText {
        font-size: smaller;
        white-space: nowrap;
    }

    #penaltyTimeDiv,
    #penaltyTimeDivMyTeam {
        width: 20px;
    }

    #penaltyTimeDivMyTeam {
        margin-left: 30px;
    }
}

@media(max-width: 600px) and (orientation: landscape) {
    #penaltyEventPeriodAndTimeDiv {
        width: 15%;
        margin-left: 5px;
    }

    #penaltyEventPeriodText {
        font-size: smaller;
    }

    .penaltyEventIcon {
        display: none;
    }

    #penaltyText {
        margin-left: 5px;
        font-size: larger;
    }

    #penaltyEventInfoDivMyTeam,
    #penaltyEventInfoDiv {
        width: 25%;
    }

    #penaltyAndPlayerInfoDivMyTeam,
    #teamPenaltyDiv {
        width: 59%;
    }

    #penaltyTimeTextMyTeam,
    #penaltyTimeText {
        font-size: medium;
    }

    #penaltyPlayerText {
        font-size: small;
    }

    #penaltyTeamNameText {
        font-size: small;
        white-space: nowrap;
    }

    #penaltyTypeTextMyTeam,
    #penaltyTypeTextMyTeamSmall,
    #penaltyTypeText,
    #penaltyTypeTextSmall {
        white-space: nowrap;
        font-size: x-small;
    }
}

@media (min-width: 601px) and (max-width: 700px) and (orientation: landscape) {
    #penaltyEventPeriodAndTimeDiv {
        width: 15%;
        margin-left: 5px;
    }

    #penaltyEventTimeText {
        font-size: x-small;
        white-space: nowrap;
    }

    #penaltyEventPeriodText {
        font-size: smaller;
    }

    .penaltyEventIcon {
        display: none;
    }

    #penaltyText {
        margin-left: 5px;
        font-size: larger;
    }

    #penaltyEventInfoDivMyTeam,
    #penaltyEventInfoDiv {
        width: 25%;
    }

    #penaltyAndPlayerInfoDivMyTeam,
    #teamPenaltyDiv {
        width: 59%;
    }

    #penaltyTimeTextMyTeam,
    #penaltyTimeText {
        font-size: medium;
    }

    #penaltyPlayerText {
        font-size: small;
    }

    #penaltyTeamNameText {
        font-size: small;
        white-space: nowrap;
    }

    #penaltyTypeTextMyTeam,
    #penaltyTypeTextMyTeamSmall,
    #penaltyTypeText,
    #penaltyTypeTextSmall {
        white-space: nowrap;
        font-size: x-small;
    }
}

@media(min-width: 401px) and (max-width: 500px) and (orientation: portrait) {
    #penaltyEventPeriodAndTimeDiv {
        width: 20%;
    }

    #penaltyEventTimeText {
        font-size: small;
        white-space: nowrap;
    }

    #penaltyEventPeriodText {
        font-size: small;
    }

    .penaltyEventIcon {
        width: 30px;
        height: 30px;
    }

    .penaltyEventIcon {
        display: none;
    }

    #penaltyText {
        font-size: x-large;
    }

    #penaltyEventInfoDivMyTeam,
    #penaltyEventInfoDiv {
        width: 25%;
    }

    #penaltyAndPlayerInfoDivMyTeam,
    #teamPenaltyDiv {
        width: 59%;
    }

    #penaltyTimeTextMyTeam,
    #penaltyTimeText {
        font-size: large;
    }

    #penaltyPlayerText {
        font-size: medium;
    }

    #teamPenaltyDiv {
        margin-left: 30px;
    }

    #penaltyAndPlayerInfoDivMyTeam {
        margin-left: 30px;
    }

    #penaltyTeamNameText {
        font-size: medium;
    }

    #penaltyTeamImageDivMyTeam {
        width: 40%;
        margin-left: 5px;
    }

    #penaltyTeamImageDiv {
        width: 50%;
    }

    #penaltyTypeTextMyTeam,
    #penaltyTypeTextMyTeamSmall,
    #penaltyTypeText,
    #penaltyTypeTextSmall {
        white-space: nowrap;
        font-size: small;
    }
}

@media(min-width: 501px) and (max-width: 800px) and (orientation: portrait) {
    #penaltyEventPeriodAndTimeDiv {
        width: 15%;
    }

    #penaltyEventTimeText {
        font-size: smaller;
        white-space: nowrap;
    }

    .penaltyEventIcon {
        width: 40px;
        height: 40px;
    }

    #penaltyText {
        font-size: xx-large;
    }

    #penaltyEventInfoDivMyTeam,
    #penaltyEventInfoDiv {
        width: 25%;
    }

    #penaltyAndPlayerInfoDivMyTeam,
    #teamPenaltyDiv {
        width: 59%;
    }

    #penaltyTimeTextMyTeam,
    #penaltyTimeText {
        font-size: x-large;
    }

    #penaltyPlayerText {
        font-size: large;
    }

    #penaltyTeamNameText {
        font-size: large;
    }

    #penaltyTypeTextMyTeam,
    #penaltyTypeTextMyTeamSmall,
    #penaltyTypeText,
    #penaltyTypeTextSmall {
        white-space: nowrap;
        font-size: medium;
    }
}

@media (min-width: 701px) and (max-width: 900px) and (orientation: landscape) {
    #penaltyEventPeriodAndTimeDiv {
        width: 15%;
        margin-left: 5px;
    }

    #penaltyEventTimeText {
        font-size: small;
        white-space: nowrap;
    }

    #penaltyEventPeriodText {
        font-size: smaller;
    }

    .penaltyEventIcon {
        width: 30px;
        height: 30px;
    }

    #penaltyText {
        font-size: x-large;
    }

    #penaltyEventInfoDivMyTeam,
    #penaltyEventInfoDiv {
        width: 30%;
    }

    #penaltyAndPlayerInfoDivMyTeam,
    #teamPenaltyDiv {
        width: 54%;
    }

    #penaltyTimeTextMyTeam,
    #penaltyTimeText {
        font-size: large;
    }

    #penaltyPlayerText {
        font-size: medium;
    }

    #penaltyTeamNameText {
        font-size: medium;
        white-space: nowrap;
    }

    #penaltyTypeTextMyTeam,
    #penaltyTypeTextMyTeamSmall,
    #penaltyTypeText,
    #penaltyTypeTextSmall {
        white-space: nowrap;
        font-size: small;
    }
}

@media(min-width: 801px) and (max-width: 1000px) and (orientation: portrait), (min-width: 901px) and (max-width: 1000px) and (orientation: landscape) {
    #penaltyEventPeriodAndTimeDiv {
        width: 18%;
    }

    #penaltyEventTimeText {
        font-size: small;
        white-space: nowrap;
    }

    .penaltyEventIcon {
        width: 40px;
        height: 40px;
    }

    #penaltyText {
        font-size: x-large;
    }

    #penaltyEventInfoDivMyTeam,
    #penaltyEventInfoDiv {
        width: 28%;
    }

    #penaltyAndPlayerInfoDivMyTeam,
    #teamPenaltyDiv {
        width: 54%;
    }

    #penaltyTimeTextMyTeam,
    #penaltyTimeText {
        font-size: x-large;
    }

    #penaltyPlayerText {
        font-size: large;
    }

    #penaltyTeamNameText {
        font-size: large;
    }

    #penaltyTypeTextMyTeam,
    #penaltyTypeTextMyTeamSmall,
    #penaltyTypeText,
    #penaltyTypeTextSmall {
        white-space: nowrap;
        font-size: small;
    }
}

@media (min-width: 1000px) and (orientation: landscape) {
    #penaltyEventPeriodAndTimeDiv {
        width: 18%;
    }

    #penaltyEventTimeText {
        font-size: small;
        white-space: nowrap;
    }

    .penaltyEventIcon {
        width: 40px;
        height: 40px;
    }

    #penaltyText {
        font-size: xx-large;
    }

    #penaltyEventInfoDivMyTeam,
    #penaltyEventInfoDiv {
        width: 28%;
    }

    #penaltyAndPlayerInfoDivMyTeam,
    #teamPenaltyDiv {
        width: 54%;
    }

    #penaltyTimeTextMyTeam,
    #penaltyTimeText {
        font-size: x-large;
    }

    #penaltyPlayerText {
        font-size: large;
    }

    #penaltyTeamNameText {
        font-size: large;
    }

    #penaltyTypeTextMyTeam,
    #penaltyTypeTextMyTeamSmall,
    #penaltyTypeText,
    #penaltyTypeTextSmall {
        white-space: nowrap;
        font-size: medium;
    }
}

@media (max-width: 550px) and (orientation: landscape) {
    #penaltyEventPeriodAndTimeDiv {
        width: 15%;
    }

    #penaltyEventTimeText {
        font-size: xx-small;
        white-space: nowrap;
    }

    #penaltyEventPeriodDiv {
        font-size: small;
    }

    .penaltyEventIcon {
        width: 40px;
        height: 40px;
    }

    #penaltyText {
        font-size: large;
    }

    #penaltyEventInfoDivMyTeam,
    #penaltyEventInfoDiv {
        width: 28%;
    }

    #penaltyAndPlayerInfoDivMyTeam,
    #teamPenaltyDiv {
        width: 54%;
        margin-left: -5px;
    }

    #penaltyTimeTextMyTeam,
    #penaltyTimeText {
        font-size: medium;
    }

    #penaltyPlayerText {
        font-size: small;
    }

    #penaltyTeamNameText {
        font-size: small;
    }

    #penaltyTypeTextMyTeam,
    #penaltyTypeTextMyTeamSmall,
    #penaltyTypeText,
    #penaltyTypeTextSmall {
        white-space: nowrap;
        font-size: xx-small;
    }
}