#penaltiesModalMainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
}

#penaltiesMainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 40%;
    background-color: white;
    border: 2px solid rgb(7, 78, 200);
    border-radius: 15px;
    gap: 5%;
}

#penaltiesTitleText {
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: x-large;
    margin: 0;
    padding: 0;
}

#penalties {
    width: 80%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(30px, 40px));
    justify-content: center;
}

#gameMisconductDiv {
    width: 40px;
}

.penaltyText {
    font-family: Inria Sans;
    font-size: large;
    font-weight: bold;
    margin: 0;
}

.penaltyDiv {
    color: black;
    border: 2px solid rgb(7, 78, 200);
    background-color: white;
    border-radius: 1000px;
}

.selectedPenalty {
    color: white;
    background-color: rgb(7, 78, 200);
    border: 2px solid rgb(7, 78, 200);
    border-radius: 1000px;
}

.penaltyDiv:hover {
    cursor: pointer;
}

#penaltiesModalInputsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    gap: 5%;
}

.penaltiesModalInput {
    background-color: rgb(233, 233, 233);
    color: black;
    border: 2px solid rgb(7, 78, 200);
    border-radius: 12px;
    min-height: 100%;
    width: 60%;
    font-family: Inria Sans;
    margin-right: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.penaltiesModalInput::-webkit-inner-spin-button {
    display: none;
}

#penaltiesModalButtonsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    width: 100%;
}

.penaltiesModalButton {
    background-color: rgb(7, 78, 200);
    border: none;
    border-radius: 12px;
    width: 30%;
    height: 40px;
    font-family: Inria Sans;
    font-size: larger;
    transition: 0.5s;
}

#penaltiesAndNumbers {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#penaltiesMyTeam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

#numbers {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#numbersDiv {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(30px, 40px));
}

.penaltyNumber {
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: large;
    border: 2px solid rgb(7, 78, 200);
    border-radius: 1000px;
    background-color: white;
}

.selectedPlayer {
    color: white;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: large;
    border: 2px solid rgb(7, 78, 200);
    border-radius: 1000px;
    background-color: rgb(7, 78, 200);
}

.penaltyNumber:hover {
    cursor: pointer;
}

#penaltiesMyTeamDiv {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(30px, 40px));
}

.titleText {
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: large;
    margin: 0;
}