#scoreBoardDiv {
    top: 0;
    left: 15%;
    position: absolute;
    border: 2px solid black;
    width: 70%;
    height: 12%;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#localDiv {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#visitingDiv {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#localGoalsDiv {
    margin-left: 15%;
}

#localGoalsText {
    font-family: Inria Sans;
    font-weight: bold;
    font-size: xx-large;
}

#visitingGoalsDiv {
    margin-right: 15%;
}

#visitingGoalsText {
    font-family: Inria Sans;
    font-weight: bold;
    font-size: xx-large;
}

#localNameDiv {
    width: 50%;
    margin-left: 5%;
}

#localNameText {
    font-family: Inria Sans;
    font-weight: bold;
    font-size: xx-large;
}

#visitingNameDiv {
    width: 50%;
    margin-right: 5%;
}

#visitingNameText {
    font-family: Inria Sans;
    font-weight: bold;
    font-size: xx-large;
}

#separatorText {
    font-family: Inria Sans;
    font-weight: bold;
    font-size: xx-large;
}

.teamImageDiv {
    width: 15%;
}