#scoreBoardDiv {
    top: 0;
    left: 15%;
    position: absolute;
    width: 70%;
    height: 12%;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid rgb(7, 78, 200);
}

#localDiv {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#separatorTextDiv {
    width: 20%;
    text-align: center;
}

#visitingDiv {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#localGoalsDiv {
    margin-left: 15%;
}

#localGoalsText {
    font-family: Inria Sans;
    font-weight: bold;
    font-size: xx-large;
}

#visitingGoalsDiv {
    margin-right: 15%;
}

#visitingGoalsText {
    font-family: Inria Sans;
    font-weight: bold;
    font-size: xx-large;
}

#localNameDiv {
    width: 70%;
    margin-left: 5%;
}

#localNameText {
    font-family: Inria Sans;
    font-weight: bold;
    font-size: xx-large;
}

#visitingNameDiv {
    width: 70%;
    margin-right: 5%;
}

#visitingNameText {
    font-family: Inria Sans;
    font-weight: bold;
    font-size: xx-large;
}

#separatorText {
    font-family: Inria Sans;
    font-weight: bold;
    font-size: xx-large;
}

.teamImageDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}

@media(max-width: 500px) and (orientation: portrait) {

    #localNameDiv,
    #visitingNameDiv {
        display: none;
    }

    .teamImageDiv {
        width: 40%;
    }

    #scoreBoardDiv {
        height: 9%;
    }
}

@media(min-width: 501px) and (max-width: 800px) and (orientation: portrait) {

    #localNameDiv,
    #visitingNameDiv {
        display: none;
    }

    .teamImageDiv {
        width: 37%;
    }

    #scoreBoardDiv {
        height: 9%;
    }
}