#selectClubTeamMainDiv {
    position: absolute;
    top: 80px;
    left: 0;
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
}

#clubTeamsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#confirmSelectedClubTeamsButton {
    background-color: rgb(7, 78, 200);
    border: none;
    border-radius: 12px;
    height: 45px;
    font-family: Inria Sans;
    font-size: x-large;
    transition: 0.5s;
}

#confirmSelectedClubTeamsButton:hover {
    background-color: rgb(5, 54, 138);
    transition: 0.5s;
    cursor: pointer;
}