#startMatchMainDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#finishMatchButtonDiv {
    margin-bottom: 1%;
}

#matchInfoMainDiv {
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
}

#calledPlayersDiv {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 20%;
    margin-left: 5%;
}

#calledPlayersTable {
    border: 1px solid rgb(7, 78, 200);
    width: 100%;
}

#calledGoaliesTable {
    border: 1px solid rgb(7, 78, 200);
    width: 100%;
}

.startMatchButton {
    background-color: rgb(7, 78, 200);
    border: none;
    border-radius: 12px;
    width: 60%;
    height: 40px;
    font-family: Inria Sans;
    font-size: larger;
    transition: 0.5s;
}

#startMatchLeftDiv {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    width: 40%;

}

.tableTitle {
    text-align: left;
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: larger;
    width: fit-content;
}

.calledPlayerNumber {
    background-color: rgb(7, 78, 200);
    color: white;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: larger;
    width: 30px;
}

.calledPlayerNumber:hover {
    cursor: pointer;
}

.calledPlayerName {
    background-color: white;
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: larger;
    white-space: nowrap;
}

.calledPlayerName:hover {
    cursor: pointer;
}

.calledGoalieNumber {
    background-color: rgb(7, 78, 200);
    color: white;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: larger;
    width: 30px;
}

.calledGoalieNumber:hover {
    cursor: pointer;
}

.calledGoalieName {
    background-color: white;
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: larger;
    white-space: nowrap;
}

.calledGoalieName:hover {
    cursor: pointer;
}

#matchEventsContainer {
    padding: 0;
    margin: 0;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

#matchEventsText {
    color: black;
    font-family: Inria Sans;
    font-size: larger;
    font-weight: bold;
    padding: 0;
    text-align: left;
    height: fit-content;
    width: fit-content;
}

#matchEventsDiv {
    content: "";
    width: 100%;
    height: 500px;
    background-color: white;
    border: 1px solid rgb(7, 78, 200);
}

#matchPeriods {
    color: black;
    font-weight: bold;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.matchPeriod {
    border: 2px solid rgb(7, 78, 200);
    background-color: white;
    padding: 0;
}

.matchPeriod:hover {
    cursor: pointer;
}

.matchPeriodSelected {
    border: 2px solid rgb(7, 78, 200);
    background-color: rgb(7, 78, 200);
    color: white;
    padding: 0;
}

.matchPeriodText {
    margin: 0;
    padding: 0;
}

.matchPeriodText:hover {
    cursor: pointer;
}

.matchEvent {
    color: black;
}