#mainContentDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#matchPlayerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

#matchPlayerStatsDiv {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
    gap: 2%;
    justify-content: center;
}

#matchPlayerImageDiv {
    width: 60%;
}

#matchPlayerImage {
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgb(7, 78, 200);
}

#matchPlayerNameText {
    color: black;
    font-family: Inria Sans;
    font-size: xx-large;
    font-weight: bold;
}

.statDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.matchStat {
    color: black;
    font-family: Inria Sans;
    font-size: x-large;
    font-weight: bold;
}

.matchStatDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.minusButton {
    font-family: Inria Sans;
    font-size: x-large;
    font-weight: bold;
    width: 10%;
    min-height: fit-content;
    min-width: fit-content;
    margin-top: 0;
    margin-right: 5%;
}

.statTitlePlayer {
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: larger;
}

.plusButton {
    font-family: Inria Sans;
    font-size: x-large;
    font-weight: bold;
    width: 10%;
    min-height: fit-content;
    min-width: fit-content;
    margin-top: 0;
    margin-left: 5%;
}

.matchStatTextPlayer {
    color: black;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: xx-large;
}

#startMatchPlayerButtonsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    gap: 5%;
    margin-top: 2%;
}

.startMatchPlayerButton {
    background-color: rgb(7, 78, 200);
    border: none;
    border-radius: 12px;
    width: 10%;
    height: 40px;
    font-family: Inria Sans;
    font-size: larger;
    transition: 0.5s;
}

.matchStatTextDivPlayer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 1000px;
    border: 4px solid rgb(7, 78, 200);
}

#startMatchPlayerRightDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#savePercentageStatDiv {
    width: 100px;
}

.arrowDownIcon:hover,
.arrowUpIcon:hover {
    cursor: pointer;
}

@media (min-width: 615px) and (max-width: 950px) {
    #matchPlayerStatsDiv {
        grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
    }

    .arrowUpIconPlayer {
        width: 25px;
        height: 25px;
    }

    .arrowDownIconPlayer {
        width: 25px;
        height: 25px;
    }

    .startMatchPlayerButton {
        width: 30%;
    }

    .statTitlePlayer {
        font-size: medium;
    }

    #matchPlayerNameText {
        font-size: larger;
    }
}

@media (min-width: 415px) and (max-width: 615px) {
    #matchPlayerStatsDiv {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(90px, 90px));
    }

    .matchStatTextDivPlayer {
        width: 50px;
        height: 50px;
    }

    .arrowUpIconPlayer {
        width: 25px;
        height: 25px;
    }

    .arrowDownIconPlayer {
        width: 25px;
        height: 25px;
    }

    #startMatchPlayerButtonsDiv {
        margin-top: 25px;
    }

    .startMatchPlayerButton {
        width: 40%;
    }

    .statTitlePlayer {
        font-size: small;
    }

    .matchStatTextPlayer {
        font-size: x-large;
    }

    #matchPlayerNameText {
        font-size: medium;
    }
}

@media (max-width: 415px) {
    #matchPlayerStatsDiv {
        margin-left: 20px;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(90px, 90px));
    }

    .matchStatTextDivPlayer {
        width: 50px;
        height: 50px;
    }

    .arrowUpIconPlayer {
        width: 25px;
        height: 25px;
    }

    .arrowDownIconPlayer {
        width: 25px;
        height: 25px;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(85px, 85px));
    }

    .matchStatTextDivPlayer {
        width: 40px;
        height: 40px;
    }

    .arrowUpIconPlayer {
        width: 20px;
        height: 20px;
    }

    .arrowDownIconPlayer {
        width: 20px;
        height: 20px;
    }

    #startMatchPlayerButtonsDiv {
        margin-top: 25px;
    }

    .startMatchPlayerButton {
        width: 40%;
    }

    .statTitlePlayer {
        font-size: small;
    }

    .matchStatTextPlayer {
        font-size: larger;
    }

    #matchPlayerDiv {
        display: none;
    }

    #startMatchPlayerRightDiv {
        width: 100%;
    }

    #matchPlayerNameText {
        font-size: medium;
    }
}