#mainContentDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#matchPlayerDiv {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#matchPlayerStatsDiv {
    border: 2px solid black;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
}

#matchPlayerImageDiv {
    width: 40%;
}

#matchPlayerImage {
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgb(7, 78, 200);
}

#matchPlayerNameText {
    color: black;
    font-family: Inria Sans;
    font-size: xx-large;
    font-weight: bold;
}

.statDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .statTitle {
    color: white;
    font-family: Inria Sans;
    font-size: x-large;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin-bottom: 0;
} */

.matchStat {
    color: black;
    font-family: Inria Sans;
    font-size: x-large;
    font-weight: bold;
}

.matchStatDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.minusButton {
    font-family: Inria Sans;
    font-size: x-large;
    font-weight: bold;
    width: 10%;
    min-height: fit-content;
    min-width: fit-content;
    margin-top: 0;
    margin-right: 5%;
}

.plusButton {
    font-family: Inria Sans;
    font-size: x-large;
    font-weight: bold;
    width: 10%;
    min-height: fit-content;
    min-width: fit-content;
    margin-top: 0;
    margin-left: 5%;
}