.react-tabs {
    -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
    margin: 0 0 10px;
    margin-bottom: 0;
    padding: 0;
}

.react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    background-color: rgb(7, 78, 200);
    color: white;
    border-radius: 5px 5px 0 0;
    border: 1px solid rgb(7, 78, 200);
}

.react-tabs__tab--selected {
    background: #fff;
    border: 1px solid rgb(7, 78, 200);
    color: rgb(7, 78, 200);
    border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
}

.react-tabs__tab:focus {
    outline: none;
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    width: 1500px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    border: 1px solid rgb(7, 78, 200);
    margin-top: 0;
    background-color: white;
}

#statsTabs {
    color: rgb(7, 78, 200);
    font-family: Inria Sans;
}

#tabsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#playersTab {
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
}