.react-tabs {
    -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
    margin: 0 0 10px;
    margin-bottom: 0;
    padding: 0;
}

.react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    background-color: rgb(7, 78, 200);
    filter: brightness(0.6);
    color: white;
    border-radius: 5px 5px 0 0;
    border: 1px solid rgb(7, 78, 200);
}

.react-tabs__tab--selected {
    background: #fff;
    border: 1px solid rgb(7, 78, 200);
    filter: brightness(1);
    color: rgb(7, 78, 200);
    border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
}

.react-tabs__tab:focus {
    outline: none;
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    width: 1400px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    border: 1px solid rgb(7, 78, 200);
    margin-top: 0;
    background-color: white;
    justify-content: center;
}

#statsTabs {
    color: rgb(7, 78, 200);
    font-family: Inria Sans;
}

#tabsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#playersTab {
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
}

.statDiv {
    height: fit-content;
}

.statText {
    background-color: rgb(7, 78, 200);
    font-family: Inria Sans;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 0;
    width: 100%;
}

.statValue {
    margin-top: 0;
    color: black;
    font-weight: bold;
    font-size: larger;
}

#logoImageDiv {
    margin-left: auto;
    width: 80%;
    margin-right: auto;
    padding: 0;
}

#logoImage {
    margin: 0;
    padding: 0;
}